<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewPlayer()">New Player</button>
    <button class="btn btn-success" (click)="onLoadPlayers()">
      Load Players
    </button>
    <button class="btn btn-success" (click)="onSeedPlayer()">
      Seed Player
    </button>
    <button class="btn btn-danger" (click)="onDeleteSeedPlayer()">
      Delete Seed Player
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-player-list-item
      *ngFor="let playerObj of players"
      [player]="playerObj"
    ></app-player-list-item>
  </div>
</div>
