<!-- 2-way binding with model -->
<h3>Admin</h3>
<input type="text" name="keyA" [(ngModel)]="config.keyA" />
<input type="text" name="valueA" [(ngModel)]="config.valueA" />

<!-- this seems really hacky, re: valueChanged()
    * we need Reactive forms or a way to bind to the entire model, or a lifecycle hook
    * ngOnChanges doesn't apply here
-->
<input
  type="number"
  name="maxFoos"
  [(ngModel)]="config.maxFoos"
  (input)="valueChanged($event)"
/>
<br />
<h3>output:</h3>
<p>keyA: {{ config.keyA }}</p>
<p>valueA: {{ config.valueA }}</p>
<p>maxFoos: {{ config.maxFoos }}</p>
