
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

:root {
  --primary: linen;
  --primary-darker: goldenrod;
  --background: black;
  --secondary: white;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--background);
  background-image: linear-gradient(180deg, var(--background), var(--primary-darker));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.my-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.my-controls {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    margin-top: 10%;
    background-color: var(--primary);
}

.my-control {
    height: 40px;
    width: 200px;
}

.my-items {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    margin-left: 10rem;
}

.my-item {
}

