<div class="row">
  <div class="col-xs-12">
    <p>id: {{ player.id }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <input type="text" name="name" [(ngModel)]="player.name" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <select [(ngModel)]="player.strategy">
      <option
        *ngFor="let strategy of strategies"
        [ngValue]="strategy"
        [selected]="player.strategy === strategy"
      >
        {{ strategy }}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onSave()">Save</button>
  </div>
</div>
